---
apiVersion: apps/v1
kind: deployment
metadata:
  name: myapp
spec:
  replicas: 30
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: 992382513265.dkr.ecr.us-east-2.amazonaws.com/kampret:latest
          ports:
            - containerPort: 80
